.hero-section {
    
    height: 60vh;
    background-color: #d4d4d4;
    color: #fff;
    font-family: 'Josefin Sans';
    align-content: center;
    margin: 0px 15px;
    border-radius: 15px;
    padding: 0px 50px;
    background-image: url(/src/Assets/Final\ Gray\ Speaking.png);
}

.hero-section p {

    font-size: 25px;

}

.hero-section h2 {
    font-size: 85px;
    margin: 0px;
}

.getStarted-btn {

    width: 120px;
    height: 35px;
    font-family: 'Josefin Sans';
    background-color: #fff;
    color:#000;
    border: none;
    border-radius: 15px;
    align-self:center;
}

.elevated {

    color: #fff;
    font-family: 'Josefin Sans';
    padding: 15px;

}

.elevated-container {

    display: grid;
    grid-template-columns:repeat(4, 1fr);

}

.elevated-item {

    padding: 15px;
}

.speak-container  {
    color: #000;
    font-family: 'Josefin Sans';
    padding: 15px;
    background-color: #fff;
    margin: 20px;
    border-radius: 15px;
    height: 70vh;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.speak-container h1 {

    font-size: 75px;
    margin-bottom: 5px;
}


.video-spot {

    border-radius: 15px;

}

.connect-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
    color: #fff;
    font-family: 'Josefin Sans';
    padding: 15px;

}